.message-list::-webkit-scrollbar {
    width: 10px;
    background-color: #354153;
    padding: 1rem;
}

.message-list::-webkit-scrollbar-thumb {
    background-color: #3f4e64;
    border-radius: 20px;
}